/*
     FILE ARCHIVED ON 14:05:33 авг 24, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:37:45 фев 8, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
html, body, div, h1, h2, h3, h4, h5, h6, dt, dd, p, ul, ol, blockquote, pre, form, fieldset, table, th, td {margin:0;padding:0;}
table {vertical-align:top;border:0px;border-collapse:collapse;} table tr {vertical-align:top;} table tr td {vertical-align:top;padding:0px;}

html, body {min-height:100%;height:auto !important;height:100%;color:#000;min-width:900px;}
body {font: 13px Verdana, Arial, Helvetica, sans-serif;}

/* Links */
a {text-decoration:underline;outline:none;color:#6DA3BD;}
a:hover {text-decoration:none;color:#4D7285;}
a img {border:none;}


/* Headers */
h1, h2, h3, h4, h5 {font:24px Verdana, Arial, Helvetica, sans-serif; margin: .5em 0;color:#999999;}
h2 { font-size: 22px; }
h3 { font-size: 20px; font-weight: bold; }
h4 { font-size: 18px; font-weight: bold; }

/* Quotational blocks */
blockquote { margin-left: 10em; padding-left: 1em; border-left: 2px solid #ccc; }
code, pre {
font: 1.2em/1.2em "Courier New", Courier, monospace;
padding: 1px 2px;
background: #fff;
color:#000;
}
pre { line-height: 1.7em; padding: 5px; font-size: .9em; background: #fff; margin: 0; color:#000;}
fieldset {border:none;}

/* list */
ul,ol { margin-left: 3em; margin-bottom: 1em; line-height: 1.3em; list-style-type:circle;}
ul ul {margin-bottom:0;}
ul li, ol li { margin-bottom: .2em; }

hr { color: #ccc; background-color: #ccc; height: 1px; border-width: 0px; }

.overflow_h {overflow:hidden;}