body {
background-color: #8e04bc;
color : #fff;
}
body a {
color : #fff;
}
body a:hover {
color : #fff;
}
h1, h2, h3, h4, h5, h6 {
color : #363327;
}
div.box { 
position : absolute; 
width : 550px;
}
div.default-box-position {
left : 50%;
margin : -210px 0 0 -275px;
top : 50%;
}
div.default-box-position #article, div.default-box-position  div.contact-info {
display : none;
}
div.readbly-box-position {
left : 10%;
margin : 0;
top : 40px;
width : 80%;
}
div.readbly-box-position div.girl, div.readbly-box-position div.translator {
display : none;
}
div.readbly-box-position  div.contact-info {
display:block;
}
div.readbly-box-position div.logo {width:99%;}
div.logo {
float:left;
font-family:Times New Roman;
font-weight:normal;
text-align : center;
color:yellow;
}
div.logo a {
font-size : 50px;
text-decoration : none;
white-space : nowrap;
color:yellow;
}
div.logo a:hover {color:yellow;}
div.logo span {
display : block;
font-size : 20px;
position : relative;
top : -7px;
white-space : nowrap;
}
#content {
background:#ffd0fb;
clear : both;
color : #363327;
position:relative;
padding : 20px 29px 20px 31px;
min-height:326px;height:auto !important;height:326px;
border-radius: 5px;
}

#content p {
margin-bottom : 10px;
text-align : justify;
}
#content img {
max-width : 98%;
}
div.readbly-box-position #content .b-r {

}
#menu {
background:#8e04bc;
width : 225px;
padding: 30px 0;
float:left;
border-radius: 1px;
}
div.readbly-box-position #menu {
margin:20px 0 0 0;
}
div.default-box-position #menu {
margin:8px 0 0 0;
}

#menu ul li {}
#menu ul {
height : auto;
margin : 0 10px;
padding : 0;
border: 1px dashed #fff;
border-radius: 2px;
border-width: 1px 1px 0 1px;
}
#menu ul li {
background: transparent url("../../design/img/menu-li.gif") 7px 12px no-repeat;
list-style : none;
margin : 0;
padding : 10px 0;
border-bottom: 1px dashed #fff;
}
#menu ul li.hover {
background-position : 6px -51px;
}
#menu ul li a {
color : #fff;
padding-left : 25px;
text-decoration : none;
text-transform : uppercase;
color:yellow;
}
#article {
padding-left:257px;
}
div.girl {
background : transparent url("../../design/img/carica-girl.gif") no-repeat scroll 100% 100%;
bottom : 0;
height : 576px;
position : absolute;
right : 0;
width : 263px;
}
div.girl img {
display : block;
}
div.translator {
background : transparent url("../../design/img/translator.gif") no-repeat scroll left top;
bottom : -10px;
display : none;
height : 157px;
left : -50px;
position : absolute;
width : 144px;
}
div.contact-info {
text-align : right;
width : 100%;
color:yellow;
}
#photos {
margin : 0;
padding : 0;
}
#photos li {
display : block;
float : left;
list-style : none;
margin : 0 10px 10px 0;
padding : 0;
}
#photos li img {
display : block;
border-radius: 2px;
}
.preloader {
left : 50%;
margin : -10px 0 0 107px;
position : absolute;
top : 50%;
}
#temp {position:absolute;top:-2009px;left:-9999px;visibility:hidden;}
div.default-box-position #content {
	min-height:297px;height:auto !important;height:297px;
}